! -*- rip -*-
!
! RIPd sample configuration file
!
! $Id: ripd.conf.sample,v 1.11 1999/02/19 17:28:42 developer Exp $
!
hostname ripd
password zebra
!
interface eth0
 accept default
!
router zebra
!
router rip
!
!log file ripd.log
