! -*- bgp -*-
!
! BGPd sample configuratin file
!
! $Id: bgpd.conf.sample,v 1.19 1999/02/19 17:17:27 developer Exp $
!
hostname bgpd
password zebra
!enable password please-set-at-here
!
!bgp mulitple-instance
!
router bgp 7675
!  bgp router-id 10.0.0.1
!  network 10.0.0.0/8
  neighbor 203.181.89.242 remote-as 7675
  neighbor 203.181.89.242 route-map set-nexthop out
!  neighbor 203.181.89.242 ebgp-multihop
!
! access-list all permit any
!
! route-map set-nexthop permit 10
!  match ip address all
!  set ip nexthop 203.181.89.243
!
!log file bgpd.log
!
