!
! Zebra configuration saved from vty
!   1999/07/24 08:09:08
!
hostname fireball.ospf6d
password zebra
enable password zebra
log file ospf6d.log
log stdout
!
debug ospf6 message all
debug ospf6 neighbor
debug ospf6 interface
debug ospf6 area
debug ospf6 lsa
debug ospf6 zebra
debug ospf6 config
!
interface ep0
 ipv6 ospf6 cost 1
 ipv6 ospf6 hello-interval 10
 ipv6 ospf6 dead-interval 40
 ipv6 ospf6 retransmit-interval 5
 ipv6 ospf6 priority 1
 ipv6 ospf6 transmit-delay 1
!
router zebra
 no redistribute ospf6
!
router ospf6
 router-id 203.178.139.179
 redistribute connected
 redistribute ripng
 interface ep0 area 0.0.0.0
!
